<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.withstars.dao.BookDao" >
    <resultMap id="BaseResultMap" type="com.withstars.domain.Book" >
        <id column="book_id" property="bookId" jdbcType="BIGINT" />
        <result column="name" property="name" jdbcType="VARCHAR" />
        <result column="author" property="author" jdbcType="VARCHAR" />
        <result column="publish" property="publish" jdbcType="VARCHAR" />
        <result column="isbn" property="isbn" jdbcType="VARCHAR" />
        <result column="introduction" property="introduction" jdbcType="LONGVARCHAR" />
        <result column="language" property="language" jdbcType="VARCHAR" />
        <result column="price" property="price" jdbcType="DECIMAL" />
        <result column="pubdate" property="pubdate" jdbcType="DATE" />
        <result column="class_id" property="classId" jdbcType="INTEGER" />
        <result column="pressmark" property="pressmark" jdbcType="INTEGER" />
        <result column="state" property="state" jdbcType="SMALLINT" />
    </resultMap>
    <select id="getBookById" resultMap="BaseResultMap" parameterType="java.lang.Long" >
        select
        *
        from book_info
        where book_id = #{bookId,jdbcType=BIGINT}
    </select>

    <select id="listBooks" resultMap="BaseResultMap"  >
        select
        *
        from book_info
    </select>

    <insert id="addBook" parameterType="com.withstars.domain.Book">
        insert into book_info(name,author,publish,isbn,introduction,language,
        price,pubdate,class_id,pressmark,state) VALUES (#{name},#{author},#{publish},
        #{isbn},#{introduction},#{language},#{price},#{pubdate},#{classId},#{pressmark},#{state})
    </insert>

    <delete id="deleteBookById" parameterType="java.lang.Long" >
        DELETE from book_info where book_id = #{bookId,jdbcType=BIGINT}
    </delete>
    
    <update id="updateBook" parameterType="com.withstars.domain.Book">
        UPDATE book_info SET
        name = #{name},author = #{author},publish=#{publish},isbn=#{isbn},
        introduction=#{introduction},language=#{language},price=#{price},pubdate=#{pubdate},
        class_id=#{classId},pressmark=#{pressmark},state=#{state} WHERE book_id = #{bookId}
    </update>
</mapper>